<template>
  <div id="server">
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-navbar-brand href="#">Dice Roller</b-navbar-brand>
    </b-navbar>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#server {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
