<template>
    <b-card v-if="!edit" bg-variant="light" class="rollCard">
      <h4 slot="header"><b>{{name}}</b></h4>
        <div class="card-text">
          <h3><b-badge>{{number}}D{{size}}</b-badge> + <b-badge>{{modifier}}</b-badge> = <b-badge variant="info">{{result}}</b-badge></h3>
        </div>
        <div slot="footer">
          <b-button variant="primary btn-sm" v-on:click="doRoll">Roll!</b-button>
          <b-button variant="warning btn-sm" v-on:click="swapEdit">Edit</b-button>
        </div>
    </b-card>

    <b-card v-else bg-variant="light" class="rollCard">
      <h4 slot="header"><b>{{name}}</b></h4>
      <div class="card-text">
        <b-row class="editRollRow">
          <b-col sm="12">
            <b-input-group size="sm" prepend="Name" class="editField">
              <b-form-input size="sm" v-model="eName"/>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="editRollRow">
          <b-col sm="12">
            <b-input-group size="sm" prepend="# of Dice">
              <b-form-input size="sm" v-model="eNumber"/>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="editRollRow">
          <b-col sm="12">
            <b-input-group size="sm" prepend="Dice Size">
              <b-form-select size="sm" v-model="eSize">
                <option value="2">D2</option>
                <option value="4">D4</option>
                <option value="6">D6</option>
                <option value="8">D8</option>
                <option value="10">D10</option>
                <option value="12">D12</option>
                <option value="20">D20</option>
              </b-form-select>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="editRollRow">
          <b-col sm="12">
            <b-input-group size="sm" prepend="Modifier">
              <b-form-input size="sm" v-model="eModifier"/>
            </b-input-group>
          </b-col>
        </b-row>
      </div>
      <div slot="footer">
        <b-button variant="warning btn-sm" v-on:click="updateRoll">Save</b-button>
        <b-button variant="secondary btn-sm" v-on:click="swapEdit">Cancel</b-button>
        <b-button variant="danger btn-sm" v-on:click="deleteRoll">Delete</b-button>
      </div>
    </b-card>
</template>

<script>
    import RollService from "../services/RollService";

    export default {
        name: "DiceRoll",
        props: ['iID', 'iName', 'iNumber', 'iSize', 'iModifier'],
        data() {
          return {
            id: this.$props.iID,
            name: this.$props.iName,
            number: this.$props.iNumber,
            size: this.$props.iSize,
            modifier: this.$props.iModifier,
            result: "",

            edit: false,
            eName: this.$props.iName,
            eNumber: this.$props.iNumber,
            eSize: this.$props.iSize,
            eModifier: this.$props.iModifier
          }
        },
        methods: {
            doRoll() {
                let total = 0;

                for (let i = 0; i < this.number; i++) {
                    total += Math.floor(Math.random() * Math.floor(this.size)) + 1;
                }
                total += this.modifier;

                this.result = total;
                //alert(total);
            },
            swapEdit() {
                this.eName = this.name;
                this.eNumber = this.number;
                this.eSize = this.size;
                this.eModifier = this.modifier;

                this.edit = !this.edit;
            },
            async getRollByID() {
              return await RollService.getRoll({
                id: this.id
              });
            },
            async updateRoll() {
              await RollService.updateRoll({
                id: this.id,
                name: this.eName,
                number: this.eNumber,
                size: this.eSize,
                modifier: this.eModifier
              });
              //this.$parent.getRolls(); //Could also call this if it is more proper.
              this.swapEdit();

              //Totally don't know if it is okay to do a second call here.
              let updatedData = await this.getRollByID();
              console.log(updatedData.data);
              this.name = updatedData.data.name;
              this.number = updatedData.data.number;
              this.size = updatedData.data.size;
              this.modifier = updatedData.data.modifier;
            },
           async  deleteRoll() {
              await RollService.deleteRoll(this.id);
              this.$parent.getRolls();
           },
        }
    }
</script>

<style scoped>
  .rollCard {
    width: 350px;
    margin-top: 20px;
  }
  .rollText {
    font-size: larger;
    text-align: center;
    vertical-align: middle;
  }
  .editRollRow {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
