<template>
  <b-container>
    <div>
      <CustomRoll/>
    </div>
    <b-card bg-variant="light" class="listHeader">
      <div slot="header">
        <h4><b>Saved Rolls</b> <b-button variant="success btn-sm" v-b-modal.newRollModal>Add</b-button></h4>
      </div>
      <div v-for="rolls in splitRolls" class="row">
        <div v-for="roll in rolls" class="col-md-4">
          <DiceRoll v-bind:iID="roll._id"
                    v-bind:iName="roll.name"
                    v-bind:iNumber="roll.number"
                    v-bind:iSize="roll.size"
                    v-bind:iModifier="roll.modifier"/>
        </div>
      </div>
    </b-card>

    <b-modal id="newRollModal" ref="newRollModalRef" title="New Saved Roll">
      <b-row class="editRollRow">
        <b-col sm="12">
          <b-input-group size="sm" prepend="Name" class="editField">
            <b-form-input size="sm" v-model="nName"/>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row class="editRollRow">
        <b-col sm="12">
          <b-input-group size="sm" prepend="# of Dice">
            <b-form-input size="sm" v-model="nNumber"/>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row class="editRollRow">
        <b-col sm="12">
          <b-input-group size="sm" prepend="Dice Size">
            <b-form-select size="sm" v-model="nSize">
              <option value="2">D2</option>
              <option value="4">D4</option>
              <option value="6">D6</option>
              <option value="8">D8</option>
              <option value="10">D10</option>
              <option value="12">D12</option>
              <option value="20">D20</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row class="editRollRow">
        <b-col sm="12">
          <b-input-group size="sm" prepend="Modifier">
            <b-form-input size="sm" v-model="nModifier"/>
          </b-input-group>
        </b-col>
      </b-row>

      <div slot="modal-footer" class="darkerModalHeader">
        <b-button size="sm" variant="success" v-on:click="createRoll()">Save</b-button>
        <b-button size="sm" variant="danger" v-on:click="closeModal()">Cancel</b-button>
      </div>
    </b-modal>
  </b-container>
</template>

<script>
    import DiceRoll from './DiceRoll';
    import CustomRoll from './QuickRoll';
    import RollService from '../services/RollService';
    import _ from 'lodash';

    export default {
        name: "DiceList",
        components: {CustomRoll, DiceRoll},
        data() {
          return {
            savedRolls: [],
            nName: "New Roll",
            nNumber: 0,
            nSize: 2,
            nModifier: 0
          }
        },
        mounted() {
          this.getRolls();
        },
        methods: {
          async getRolls() {
            this.savedRolls = [];
            const res = await RollService.getRolls();
            this.savedRolls = res.data;
          },
          async createRoll() {
            const res = await RollService.createRoll({
              name: this.nName,
              number: this.nNumber,
              size: this.nSize,
              modifier: this.nModifier
            });
            this.closeModal();
            this.getRolls();
          },
          closeModal() {
            this.$refs.newRollModalRef.hide();
          }
        },
        computed: {
          splitRolls() {
            return _.chunk(this.savedRolls, 3);
          }
        }
    }
</script>

<style scoped>
  .listHeader {
    margin-top: 20px;
  }
</style>
