<template>
    <div class="posts">
      <h1>Add Post</h1>
      <div class="form">
        <div>
          <input type="text" name="title" placeholder="TITLE" v-model="title"/>
        </div>
        <div>
          <textarea rows="15" cols="15" placeholder="DESCRIPTION" v-model="desc"/>
        </div>
        <div>
          <button class="appPostBtn" @click="addPost">Add</button>
        </div>
      </div>
    </div>
</template>

<script>
    import PostService from '@/services/PostsService';

    export default {
      name: "NewPost",
      data() {
        return {
          title: '',
          desc: ''
        }
      },
      methods: {
        async addPost() {
          await PostService.addPost({
            title: this.title,
            desc: this.desc
          });
          this.$router.push({
            name: 'Posts'
          });
        }
      }
    }
</script>

<style scoped>
  .form input, .form textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #e0dede;
    outline: none;
    font-size: 12px;
  }

  .form div {
    margin: 20px;
  }

  .appPostBtn {
    background: #4d7ef7;
    color: #fff;
    padding: 10px 80px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    width: 520px;
    border: none;
    cursor: pointer;
  }
</style>
