<template>
    <div class="posts">
      <h1>Posts</h1>
      <div v-if="posts.length > 0" class="">
        <div>
          <router-link v-bind="{name: 'NewPost'}" class="">Add Post</router-link>
        </div>
        <table class="tableWrap">
          <tr>
            <td>Title</td>
            <td width="550">Description</td>
            <td width="100" align="center">Action</td>
          </tr>
          <tr v-for="post in posts">
            <td>{{post.title}}</td>
            <td>{{post.desc}}</td>
            <td align="center">
              <router-link v-bind:to="{name: 'EditPost', params: {id: post._id}}">Edit</router-link>
              |
              <a href="#" @click="deletePost(post._id)">Delete</a>
            </td>
          </tr>
        </table>
        <router-link v-bind:to="{name: 'NewPost'}" class="addPostLink">Add Post</router-link>
      </div>
      <div v-else>
        There are no posts...Let's add one now!<br/><br/>
        <router-link v-bind:to="{name: 'NewPost'}" class="addPostLink">Add Post</router-link>
      </div>
    </div>
</template>

<script>
    import PostsService from "../services/PostsService";

    export default {
      name: "Posts",
      data() {
        return {
          posts: []
        }
      },
      mounted() {
        this.getPosts();
      },
      methods: {
        async getPosts() {
          const res = await PostsService.fetchPosts();
          this.posts = res.data.posts;
        },
        async deletePost(id) {
          console.log(id);
          await PostsService.deletePost(id);
          this.getPosts();
        }
      }
    }
</script>

<style scoped>
  .tableWrap {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  table th, table tr {
    text-align: left;
  }

  table thead {
    background: #f2f2f2;
  }

  table tr td {
    padding: 10px;
  }

  table tr:nth-child(odd) {
    background: #f2f2f2;
  }

  table tr:nth-child(1) {
    background: #4d7ef7;
    color: #fff;
  }

  a {
    color: #4d7ef7;
    text-decoration: none;
  }

  .addPostLink {
    background: #4d7ef7;
    color: #fff;
    padding: 10px 80px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
  }
</style>
