<template>
    <div>
      <b-card bg-variant="light" class="quickHeader">
        <h4 slot="header"><b>Quick Roll</b></h4>
        <b-row>
          <b-col sm="2"></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(2)">D2</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(4)">D4</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(6)">D6</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(8)">D8</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(10)">D10</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(12)">D12</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(20)">D20</b-button></b-col>
          <b-col sm="1"><b-button class="quickBtn" v-on:click="doQuickRoll(100)">D100</b-button></b-col>
          <b-col sm="2"></b-col>
        </b-row>
        <b-row>
          <b-col sm="12">
            <h1><b-badge variant="info">Result: {{this.result}}</b-badge></h1>
          </b-col>
        </b-row>
      </b-card>
    </div>
</template>

<script>
    import RollService from '../services/RollService';

    export default {
        name: "CustomRoll",
        data () {
          return {
            result: "-"
          }
        },
        methods: {
          doQuickRoll(sides) {
            console.log("Roll for " + sides);
            this.result = Math.floor(Math.random() * Math.floor(sides)) + 1;
          }
        }
    }
</script>

<style scoped>
  .quickBtn {
    width: 75px;
  }
  .quickHeader {
    margin-top: 20px;
  }
</style>
